// colors!
$honeydew: rgba(210, 241, 228, 1);
$cotton-candy: rgba(251, 202, 239, 1);
$hot-pink: rgba(248, 101, 176, 1);
$oxford-blue: rgba(10, 34, 57, 1);
$english-violet: rgba(72, 48, 77, 1);



// Default variable overrides
$body-bg: $cotton-candy;
$body-color: $oxford-blue;
