@import "fonts";
@import "custom";
@import "pagination";
@import "~bootstrap/scss/bootstrap";


body{
  font-family: 'Barlow', 'sans-serif';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $cotton-candy;
}

h1{
  font-family: 'Balsamiq Sans', 'cursive';
  color: $english-violet;
}
h2{
  font-family: 'Balsamiq Sans', 'cursive';
  color: $english-violet;
}
h3{
  font-family: 'Balsamiq Sans', 'cursive';
  color: $english-violet;
}
h4{
  font-family: 'Balsamiq Sans', 'cursive';
  color: $english-violet;
}

a{
  font-family: 'Balsamiq Sans', 'cursive';
  color: $oxford-blue;
}


main {
  padding-top: 60px;
  padding-bottom: 60px;
}


footer {
  height:120px;
  margin-top: auto;
  padding-top: 10px;
  margin-bottom: 0;
  background-color: $hot-pink;
}

footer p{
  font-family: 'Balsamiq Sans', 'cursive';
  color: white;
}


.alert{
  background-color: $hot-pink;
}
.alert-primary p {
  font-family: 'Balsamiq Sans', 'cursive';
  color: white;
}

.card{
  background-color: tint($honeydew, 10%);
}

.card-footer{
  background-color: $honeydew;
}

.picture-and-title{
  display: flex;
}
.picture {
  flex: 0 50;
  padding: 2px;
}
.title {
  flex: 200px;
  padding-left: 20px;
}
