<% if user_signed_in? %>
  <% if current_user.has_favorited?(@post) %>
    <%= link_to "Unfavorite", post_favorite_path(@post), method: :delete, remote: true %>
  <% else %>
    <%= link_to "Favorite", post_favorite_path(@post), method: :post, remote: true %>
  <% end %>
<% end %>

<h3>This post was favorited by the following users:</h3>
<% @post.favorites.each do |fav| %>
  <%= link_to image_tag(Faker::Avatar.image(slug: fav.user.email, size: "50x50", format: "jpg", set: "set5")), User.find(fav.user_id)%>
<% end %>
