<div class="card">
  <div class="card-body">
    <h1 class="card-title">About this... thing.</h1>
    <h2 class="text-muted">TLDR; It's for practice and it's pink because that's a cute color.</h2>
    <div class="card">
      <div class="card-body">
        <p>Hey, my name is Frances.</p>
        <p>I don't have much to say, except for the fact that I got to practice a lot while making this.</p>
        <p>This was made with Ruby on Rails 6 and Bootstrap.</p>
        <p>The Devise gem handles logging in and logging out, and I do pagination with the will_paginate gem.</p>
        <p>I seeded this using the Faker gem, so there's a lot of posts with lorem ipsums.</p>
        <p>It's pink and cute because I wanted it to reflect my personal style.</p>
      </div>
    </div>
  </div>
</div>
